# Node
node_modules/
dist/
.vite/

# Environment variables
.env
.env.*

# Java / Maven
target/
*.class

# IDE
.idea/
.vscode/
*.iml

# Logs
*.log

# OS
.DS_Store
Thumbs.db

voltroute/src/main/resources/application.yaml
voltroute/src/main/resources/application.yml